body {
    font-family: helvetica, sans;
    font-size: 24dip;
    color: #222;
    background-color: #ddd;
}

li {
  list-style: square;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 0 5px 0 5px;
  margin: 0 0 0 5px;
}

a:hover {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  body {
      font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
 body {
   font-size: 24dip;
 }
}
